<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.FortunaFinance_Server.DAO.notice.NoticeDAO">

    <insert id="Notice_addition" parameterType="NoticeadditionReq">
        INSERT INTO
            notice(Category, Title, Content, User_IDX, Del, Good)
        VALUES
            (#{category}, #{title}, #{content}, #{useridx}, 0, 0)
    </insert>

    <select id="LedgerList" parameterType="ledgerReq" resultType="LedgerListDTO">
        SELECT Notice_Index, Category, Title, Content, User_IDX, User_Date, Good
        FROM notice
        WHERE Del = 0
        <if test="project != ''">
            AND Category = #{project}
        </if>
        <if test="traderName != ''">
            AND Title LIKE #{traderName}
        </if>
        ORDER BY Date DESC
    </select>

</mapper>