<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.FortunaFinance_Server.DAO.notice.NoticeDAO">

    <insert id="Notice_addition" parameterType="NoticeadditionReq">
        INSERT INTO
            notice(Category, Title, Content, User_IDX, Del, Good)
        VALUES
            (#{category}, #{title}, #{content}, #{useridx}, 0, 0)
    </insert>

    <select id="Notice_List" parameterType="noticeListReq" resultType="NoticeListDTO">
        SELECT Notice_Index, Category, Title, User_IDX, User_Date, Good
        FROM notice
        WHERE Del = 0
        <if test="category != ''">
            AND Category = #{category}
        </if>
        <if test="title != ''">
            AND Title LIKE #{title}
        </if>
        <if test="user != ''">
            AND User_IDX = #{user}
        </if>
        ORDER BY Notice_Index  DESC
    </select>

    <select id="Notice_Detail" parameterType="NoticeDetailReq" resultType="NoticeDetailDTO">
        SELECT Notice_Index, Category, Title, Content, User_IDX, User_Date, Del, Good
        FROM notice
        WHERE Del = 0 AND Notice_Index = #{noticeIndex}
    </select>

    <update id="Notice_Good" parameterType="NoticeGoodReq">
        UPDATE notice
        SET Good = Good + 1
        WHERE Notice_Index = #{noticeIndex} AND Del = 0
    </update>

    <update id="Notice_Edit" parameterType="NoticeEditReq">
        UPDATE notice
        SET Title = #{title},
            Content = #{content},
            Category = #{category}
        WHERE Notice_Index = #{noticeIndex} AND Del = 0
    </update>

    <update id="Notice_Delete" parameterType="NoticeDeleteReq">
        UPDATE notice
        SET Del = 1
        WHERE Notice_Index = #{noticeIndex} AND Del = 0
    </update>

</mapper>